{% extends "base.html" %}

{% block content %}

<script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}"></script>

<div class="card">
    <div class="card-header">
        <h1>{{ element.title }}</h1>
    </div>

    <div class="card-body">

        
        <p class="text-end">
            <span class="badge text-bg-warning text-wrap">{{element.price}}$</span>
        </p>

        <p class="fw-lighter text-center fst-italic">
            {{element.description}}
        </p>

        <div>
            {{element.content}}
        </div>

        <div class="mx-auto mt-4" style="max-width: 300px;">
            {% include "partials/paypal.html" %}
        </div>

    </div>
</div>


{% endblock %}